<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="socket.io/socket.io.js"></script>
<title>Document</title></head><body>
<video id="localVideo" autoplay></video>
<button id="stopstart">Stop/Start</button>
<select required id="toShare">
    <option value="screen">Screen</option>
    <option value="camera">Camera</option>
</select>
</body><script src="utils/client.js"></script>


</html>