<header>
    <div>
        <p class="title">The Planets</p>
    </div>
    <ul id="planet-nav">
        <li>
            <h4 data-planet="mercury" class="active-planet">Mercury</h4>
        </li>
        <li>
            <h4 data-planet="venus">Venus</h4>
        </li>
        <li>
            <h4 data-planet="earth">Earth</h4>
        </li>
        <li>
            <h4 data-planet="mars">Mars</h4>
        </li>
        <li>
            <h4 data-planet="jupiter">Jupiter</h4>
        </li>
        <li>
            <h4 data-planet="saturn">Saturn</h4>
        </li>
        <li>
            <h4 data-planet="uranus">Uranus</h4>
        </li>
        <li>
            <h4 data-planet="neptune">Neptune</h4>
        </li>
    </ul>
</header>
<hr>