<header>
    <div id="titlediv">
        <img src="logo.png" alt="Logo" class="logo" />
        <span>Evaluathematics</span>
    </div>
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="/contact">Contact</a></li> -->
        </ul>
    </nav>
</header>
