.new-task-card {
    --task-width: 400px;
    --task-height: 280px;

    min-width: min(var(--task-width), 100%);
    /* flex-grow: 1; */
    height: var(--task-height);
    background-color: var(--card-white);
    border: 2px dashed var(--text-dim);
    border-radius: 28px;
    cursor: pointer;
    padding: 0;
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    outline: none;
}

.new-task-card:hover {
    background-color: var(--border-light);
    border-color: var(--action-color);
    transform: translateY(-2px);
}

.new-task-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.new-task-icon-circle {
    width: 64px;
    height: 64px;
    background-color: var(--card-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border: 1px solid var(--text-muted)
}

.new-task-card:hover .new-task-icon-circle {
    background-color: var(--action-color);
    border: 2px solid var(--action-color)
}

.new-task-icon-circle span {
    font-size: 32px;
    color: var(--text-muted);
    transition: color 0.3s ease;
}

.new-task-card:hover .new-task-icon-circle span {
    color: var(--card-white);
}
.new-task-card:hover .new-task-text {
    color: var(--text-main);
}
.new-task-text {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-muted);
    transition: color 0.3s ease;
}