.task-card {
    --task-width: 400px;
    --task-height: 280px;

    min-width: min(var(--task-width), 100%);
    height: var(--task-height);
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: var(--card-white);
    border-radius: 28px;
    box-shadow: 0 10px 30px var(--shadow-dark);
    border: 2px solid var(--border-light);
    transition: all 0.3s ease;
}

.task-description {
    color: var(--text-dim);
}


.task-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.task-icon-wrapper {
    background-color: var(--theme-color2);
    padding: 8px;
    border-radius: 8px;
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-title {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    min-height: 34px;
    color: var(--text-main);
}

.task-description {
    margin: 5px 0 0 0;
    color: var(--text-dim);
    font-size: 16px;
    min-height: 20px;
}

.task-footer {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    flex-shrink: 0;
    flex-flow: row-reverse;
}

.progress-section {
    flex: 1;
}

.progress-bar-container {
    height: 8px;
    background: var(--progress-bg);
    border-radius: 10px;
    margin-top: 10px;
}

.progress-bar-fill {
    height: 100%;
    background-color: var(--theme-color1);
    border-radius: 10px;
    transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.progress-labels {
    display: flex;
    justify-content: space-between;
}
.task-add-btn {
    background-color: var(--action-color);
    border: 2px solid var(--action-color);
    color: var(--card-white);
    width: 60px;
    height: 60px;
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.task-add-btn:hover {
    color: var(--action-color);
    background-color: var(--card-white);
}
.task-tag-label {
    color: var(--theme-color1);
}
.task-tag-container {
    padding: 5px 8px;
    border-radius: 8px;
    background-color: var(--theme-color2);
    position: relative;
    z-index: 1;
}
.main-task-icon {
    color: var(--theme-color1);
}

.task-edit-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 0;
    opacity: 0;
    margin-left: 10px;
    color: var(--theme-color1);

    /* transform: translateX(50px);  */
    position: relative;
    z-index: 0;
}
.task-card:hover .task-edit-btn {
    /* visibility: visible; */
    opacity: 1;
    /* transform: translateX(0); */
}
.task-card:hover {
    transform: translateY(-2px);
}
.task-header-actions {
    display: flex;
    gap: 10px;
}
