* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  max-height: 86px;
  align-items: center;
  padding: 12px;
}
header #titlediv {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
header .logo {
  height: 100%;
}
header{
    background-color: yellow;
}