@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
     font-size: 20px;
}
main{
     display: flex;
     flex-wrap: wrap;
     height: 100vh;
}
.background-image-cover{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 35%;
     height: 100vh;
     background-image: url("./images/backdrop.jpg");
     /* position: fixed; */
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
}
.content{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     /* flex-direction: column; */
     width: 65%;
     height: 100vh;
     padding: 50px;
     overflow-y: scroll;
}
.background-image-cover>div:first-child{
     display: flex;
     flex-wrap: wrap;
     align-items: end;
     flex-direction: column;    
     padding: 50px;
     gap: 30px;
     color: white;
     text-align: right;
}
.background-image-cover>div:first-child img{border-radius: 50%;}
.background-image-cover>div:first-child p{
     font-size: 1.2rem;
     color: rgba(255, 255, 255, 0.75);
     font-weight: 500;
     width: 90%;
     margin: auto;
}
.background-image-cover>div:first-child p span{
     font-size: 1rem;
     color: white;
}
.background-image-cover>div:last-child{
     display: flex;
     flex-wrap: wrap;
     align-items: end;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     color: #928780;
     padding: 50px;
     gap: 30px;
}
.background-image-cover>div:last-child div{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 30px;
}
.background-image-cover>div:last-child div i{
     font-size: 30px;
}
.background-image-cover>div:last-child div p{   
     font-size: 18px;
}
.content>div:first-child{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 40px;
     width: 100%;
}
.content .header h1{
     color: #787878;
     font-size: 35px;
     font-weight: 500;
     width: 65%;
}
.content .header p{
     font-size: 20px;
     width: 90%;
     line-height: 1.7;
     color: #BDB6AE;
}
.content .header button{
     padding: 20px 20px;
     width: fit-content;
     background: transparent;
     border-radius: 5px;
     border: 1px solid #BDB6AE;
     color: #787878;
}
hr{
     width: 100%;
     height: 2px;
     background-color: #EFEFEF;
     border: none;
     margin: 50px auto;
}
.container-box{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 40px;
}
.container-box h1{
     font-size: 30px;
     font-weight: 500;
     color: #787878;
}
.card-container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 40px;
     /* width: 100%; */
}
.box{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     flex: 1 1 380px;
     padding: 20px;
     gap: 10px;
}
.box img{
     width: 100%;
     height: auto;
     object-fit: cover;
     border-radius: 5px;
}
.box > h3{
     font-size: 1.1rem;
     font-weight: 500;
     color: #7f7f7f;
     margin-top: 10px;
}
.box p{
     color: #888888;
     line-height: 1.5;
     font-size: 0.9rem;
}
.container-box button{
     padding: 15px 40px;
     background: transparent;
     border: 2px solid #BDB6AE;
     border-radius: 5px;
     color: #787878;
}

.footer{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
}
.footer h1{
     font-size: 30px;
     font-weight: 500;
     color: #787878;
}
.footer>div:first-child p{
     color: #888;
     line-height: 1.5;
     font-size: 1.1rem;
     margin-top: 50px;
}

.form{
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
     margin-top: 50px;
}
.contact{
     margin-top: 30px;
     max-width: 40%
}
input, textarea{
     outline: none;
     border: none;
     background-color: #F7F7F7;
     padding: 20px;
     border-radius: 5px;
}
/* input{flex-shrink: 1; flex-basis:auto} */
textarea{
     height: 300px;
     width: 100%}
.form>div:first-child{
     display: flex;
     flex-wrap: wrap;
     align-items: start;
     flex-direction: column;
     gap: 30px;
}
.form>div:first-child div{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 30px;
     /* flex: 1 1 300px; */
     flex-grow: 1
     
}
.form>div:last-child{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 30px;
}
.form>div:last-child p{
     color: #888;
     line-height: 1.5;
}
.form>div:last-child div{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 20px;
}
.form i{
     color: #928780;
     font-size: 25px;
}

.footer>div:last-child{
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     margin-top: 30px;
}
.form>div:first-child button{
     padding: 15px 40px;
     background: transparent;
     border: 2px solid #BDB6AE;
     border-radius: 5px;
     color: #787878;
}