:root{
    --color1: #511f50;
    --color2: #c069a0;
    --color3: #f7f2f8;
    --color4: white;
    --color5: #948797;
}
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */
*{
    margin: 0px; 
    border: 0px; 
    padding:0px; 
    box-sizing: border-box;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
html, body{
    height: 100%;
    width: 100%;
}
body{padding: 10vh 10vw; background-image: url("social-proof/images/bg-pattern-bottom-desktop.svg");}

section{
    padding-top: 5%;
    background: none;
    display: inline-block;
    vertical-align: top;
}
#intro{
    width: 30%;
    height: 48%;
    
    margin-right: 5%
}
#ratings{
    padding: 7%;
    padding-left: 10%;
    width:62.5%;
    height: 48%;
    margin-left: 2.24%;
}
.rating-box{
    width: 70%;
    height: 66.0333px;
    top: 0px;
    background-color: var(--color3);
    margin-bottom: 6.1%;
    padding: 2.4%;
    color: var(--color1);
}
.rating-box > *{
    display: inline-block;
    vertical-align: middle;
}

.star::before {
    content: "  ";
    display: inline-block;
    vertical-align: middle;
    background-image: url("social-proof/images/icon-star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.rb1{left: 0%}
.rb2{left: 15%}
.rb3{left: 30%; margin-bottom: 0%;}
section:not(.intro) > *{
    position: relative;
    display: inline-block; 
}
#comments{
    /* margin-top: 5%; */
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    margin-bottom: 0%;
}
.comment{
    height: 80%; width: 30%;
    background-color: var(--color1);
    margin-right: 5%;
    padding: 3%
}
.comment1{top: 0%;}
.comment2{top: 10%;}
.comment3{top: 20%; margin-right: 0%;}

#intro > h1{
    color: var(--color1);
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-right: 20px;


}
h3{
    line-height: 1.4;
    font-size: 20px;
}
#intro > p{
    color: var(--color5);
    line-height: 1.7;
    font-weight: 500;
}
article{
    border-radius: 1vh;
}
.rating-box > h3{
    position: relative;
    top: 2px;
    padding-left: 35px;
    font-weight: 700;
}

.profile{
    width: 100%;
    height: 30%;
    /* background-color: red; */
}
.name{
    padding: 1%;
    display: inline-block;
    vertical-align: middle;
    height: fit-content
}
.p{
    height: 57px;
    width: 57px;
    margin: 1px 20px 1px 1px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}
.p1{
    background-image: url("social-proof/images/image-colton.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.p2{
    background-image: url("social-proof/images/image-irene.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.p3{
    background-image: url("social-proof/images/image-anne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-name{
    color: white;
}
.position{
    color: var(--color2)
}
.name *{
    width: fit-content
}
.content{
    padding-top: 30px;
    color: var(--color3)
}
.content q{
    line-height: 1.5;
    font-weight: 500;
    /* letter-spacing: 0.15px; */
}
p, q{
    font-size: 115%;
}