@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

span {
    display: block;
}

nav {
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
    z-index: 10;
}

nav > div:nth-child(2) {
    float: right;
    margin-top: 15px;
}

nav > div:nth-child(2) button {
    padding: 15px 30px;
    border-radius: 12px;
    background-color: #008A40;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    height: 100vh;
    position: relative;
    padding: 200px 0px 0px 250px;
}

main h1 {
    font-size: 65px;
    font-weight: 500;
}

main p {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 0.4px;
    font-weight: 300;
    line-height: 1.7;
}

main button {
    background-color: #596EFF;
    padding: 10px 60px;
    border-radius: 4px;
    font-size: 20px;
    border: none;
    color: white;
    margin: 10px 0px;
}

main>div:nth-child(1) {
    display: inline-block;
    position: relative;
    top: 100px;
}

main img {
    border-radius: 15px;
}

.image1 {
    height: 320px;
    position: absolute;
    top: 250px;
    left: 40%;
}

.image2 {
    height: 200px;
    position: absolute;
    top: 370px;
    left: 67%;
    border-radius: 12px;
}

.image3 {
    position: absolute;
    top: 55%;
    left: 34%;
}

.image4 {
    height: 500px;
    width: 450px;
    position: absolute;
    top: 55%;
    left: 54%;
}

.image5 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 19.5%;
    left: 38%;
}

.image6 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 60%;
    left: 75%;
}

.small-border {
    position: absolute;
    top: 330px;
    left: 65%;
    z-index: -1;
    height: 270px;
    width: 370px;
    border-radius: 50px;
    background-color: #FFF2EA;
}

.big-border {
    position: absolute;
    left: 37.2%;
    top: 475px;
    z-index: -1;
    height: 475px;
    width: 900px;
    border-radius: 50px;
    background-color: #FFF2EA;
}

.card-container {
    height: fit-content;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    position: absolute;
    top: 70%;
    text-align: center;
    font-family: sans-serif;

}

.card-box {
    float: left;
    width: 23%;
    height: fit-content;
    vertical-align: middle;
    text-align: center;
}

.card-box h1 {
    color: #FF914D;
    font-size: 60px;
    font-weight: 600;
}

.card-box p {
    color: #777;
    font-size: 20px;
    margin-top: 0px;
    margin-right: 25px;
}

.card-div {
    float: left;
    width: 1%;
    height: 80px;
    border-left: 1px solid #ccc;
    margin: 0 0.5%;
}


.about {
    position: relative;
    top: -335px;
    z-index: -1;
    background-color: #FFF2EA;
    padding: 200px 300px 200px 300px;
}

.about>div:nth-child(1) {
    display: inline-block;
}

.about>div:nth-child(1) h1 {
    font-size: 70px;
}

.about>div:nth-child(1) p {
    display: inline-block;
    font-size: 17px;
    line-height: 1.5;
}

.about>div:nth-child(2) {
    float: right;
    font-size: 20px;
    padding-right: 300px;
    padding-top: 50px;
}

.about>div:nth-child(2) p {
    font-size: 17px;
    margin-top: 30px;
    letter-spacing: .5px;
    font-weight: 300;
}

.projects {
    height: 100%;
    width: 100%;
    padding: 0px 300px 200px 300px;
}

.projects>div:nth-child(1) {
    height: 30%;
    width: 100%;
}

.projects>div:nth-child(1) h1 {
    float: left;
    font-size: 70px;
}

.projects>div:nth-child(1) p {
    float: left;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-left: 350px;
}

.projects>div:nth-child(2) {
    margin-top: 0px;
    width: 100%;
}

.project-img01 {
    height: 550px;
    width: 500px;
    box-shadow: 30px 30px 0px #E7EAFF;
}

.project-img02 {
    height: 550px;
    width: 500px;
    box-shadow: 30px 30px 0px #E7EAFF;
    position: relative;
    top: 300px;
    left: 50px;
}

.services {
    width: 100%;
    background-color: #FFF2EA;
    margin-top: 0px;
    position: relative;
    top: -250px;
    padding: 100px 150px 150px 150px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-bottom: 100px;
}

.services h1 {
    font-size: 60px;
    color: #596EFF;
    margin-bottom: 60px;
}

.services div {
    width: 30%;
    height: auto;
    float: left;
    margin: 0 1.5% 60px 1.5%;
    box-sizing: border-box;
}

.services h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.services p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
}

.services button {
    background-color: #596EFF;
    color: white;
    border: none;
    padding: 15px 70px;
    font-size: 20px;
    margin-top: 50px;
    display: inline-block;
    clear: both;
    position: relative;
}

.collaboration {
    width: 100%;
    background-color: #596EFF;
    color: white;
    padding: 150px 0;
    position: relative;
    top: -250px;
}

.collaboration h1 {
    font-size: 60px;
    margin-bottom: 80px;
}

.steps {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.nums {
    float: left;
    width: 22%;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.nums h1 {
    font-size: 100px;
    margin: 0;
    line-height: 1;
    font-weight: 600;
}

.nums p {
    color: #FCBD95;
    font-size: 22px;
    margin-top: 20px;
    line-height: 28px;
}



.employees {
    position: relative;
    top: -120px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    width: 75%;
    border-radius: 12px;
    height: 250px;
    margin: 0 auto;
    padding-top: 40px;
}

.emp-card {
    float: left;
    width: fit-content;
    margin-left: 7%;
    height: 250px;
    position: relative;
    margin-top: 12px;
}

.emp-card img {
    width: 150px;
    height: 160px;
    border-radius: 12px;
    float: left;
    box-shadow: 10px 10px 0px rgba(140, 176, 255, 0.4);
}

.emp-details {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.emp-details h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}

.emp-details p {
    margin-top: 12px;
    font-size: 18px;
}

.reviews {
    width: 100%;
    padding: 100px 100px 0px 100px;
    padding-left: 300px;
    position: relative;
    top: -150px;
}

.reviews>div {
    width: 80%;
    vertical-align: middle;
}

.reviews h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.review-card {
    display: inline-block;
    height: fit-content;
    width: 60%;
    margin: 20px 0px;
    background-color: #FFF2EA;
    padding: 70px 20px;
    border-radius: 12px;
}
.review-card > p{
    width: 76%
}
.reviews img {
    float: left;
    border-radius: 12px;
    height: 150px;
    width: 170px;
}

.reviews p {
    float: left;
    vertical-align: middle;
    margin-left: 30px;
    font-size: 18px;
    line-height: 1.7;
}

.review-card:nth-child(2) {
    position: relative;
    left: 500px;
}

footer {
    width: 100%;
    height: 650px;
    background-color: #596EFF;
    color: white;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
}

.contact-info {
    float: left;
    width: 40%;
    height: 100%;
    padding-left: 250px;
    padding-top: 150px;
    font-family: sans-serif;
}

.contact-info h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 20px;
}

.map {
    float: right;
    width: 30%;
    height: 80%;
    margin-top: 50px;
    margin-right: 280px;
}

.map img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.contact-info *:not(h1){
    line-height: 1.4;
    font-weight: 400;
}
i {
    background-color: white;
    height: 60px;
    width: 70px;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    border-radius: 50%;
    margin-left: 20px;
}

.footer-btns {
    margin-top: 30px;
}
.projects{
    position: relative;
    top: -250px
}
.logo{
    height: 80px;
    position: relative;
    top: -100px;
}
.logo2{
    font-size: 30px;
    position: relative;
    top: -150px;
    margin-left: 1100px;
    color: #333333
}
p > span{
    font-weight: 400;
    line-height: 1.8
}