<!DOCTYPE html>
<html>
<head>
  <title>Join Room</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Join a Room</h2>
<input id="room" placeholder="Room Code">
<button id="joinBtn">Join</button>
<script src="/js/join.js"></script>
</body>
</html>