*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
html, body, main{
    height: 100%; width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
main{
    background-color: #FAEFFF;
    background-image: url("accordion/assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    background-color: #FFFFFF;
    padding: 2vw;
    width: 35vw;
    min-height: 30vw;
    max-height: fit-content;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 8px #FAEFFF
}
header{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    font-size: 1.5vw;
}

#star{
    background-image: url("accordion/assets/images/icon-star.svg");
    background-size: cover;
    height: 2vw; width: 2vw;
}
#qs{
    width: 100%;
    min-height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#qs div{display: flex; flex-direction: column; justify-content: center}
#qs div p{
    margin-top: 1.5vw;
}
#flex-col{display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.image{width: 1.5vw; height: 1.5vw; background-repeat: no-repeat; background-size: cover;}
.minus{background-image: url("accordion/assets/images/icon-minus.svg");}
.plus{background-image: url("accordion/assets/images/icon-plus.svg");}
@font-face{font-family: "Bold"; src: url("accordion/assets/fonts/static/WorkSans-Bold.ttf")}
@font-face{font-family: "Regular"; src: url("accordion/assets/fonts/static/WorkSans-Regular.ttf")}
@font-face{font-family: "SemiBold"; src: url("accordion/assets/fonts/static/WorkSans-SemiBold.ttf")}
h4{width: 30vw; font-family: "SemiBold"; font-size: 1.2em}
h1{font-family: "Bold";}
p{font-family: "Regular";}
hr{background-color: rgba(220, 220, 220, 0.5); height: 1px; }
