@media only screen and (min-width: 0px) and (max-width: 681px){

    .boxes{
        grid-template: repeat(12, 1fr)/repeat(1, 1fr);
        gap: 30px;
        width: calc(100vw - 100px)
    }
    .boxes > article{
        height: calc(100vw - 100px)
        
    }
}
@media only screen and (min-width: 680px) and (max-width: 961px){

    .boxes{
        grid-template: repeat(6, 1fr)/repeat(2, 1fr);
        gap: 40px;
        width: calc(100vw - 80px)
    }
    .boxes > article{
        height: calc( 50vw - 100px)
    }
}
@media only screen and (min-width: 960px){
    .content > h1{width: 60vw;}
    header{width: calc(80vw - 66.666px); margin: auto}
    .boxes{
        grid-template: repeat(4, 1fr)/repeat(3, 1fr);
        gap: 50px;
        width: calc( 80vw - 66.666px);
        /* height: calc(((320vw - 800px) / 3) + 150px) */
    }
    .boxes > article{
        height: calc( ( 80vw - 200px ) / 3);
    }
    footer > div {
        flex-direction: -reverse;
        width: 80vw; margin: auto
    }
}
@media only screen and (max-width: 736px){
    footer > div > form, footer > div > div{
        width: 100%;
    }
    footer > div {
        flex-direction: column-reverse;}
}